.entirepage{
    width: 100%;
    height: auto;
    display: flex;
    /* background: rgb(32, 149, 178); */
    /* background: rgb(32, 107, 178); */
    border-radius: 5px;
    /* background: #f2709c;   */
    /* background: -webkit-linear-gradient(to left, #ff9472, rgb(255, 75, 107));    */
    /* background: linear-gradient(to left, #ff9472, rgb(255, 75, 107));   */
    background: rgb(247, 247, 250);  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #26a0da, #314755);   */
    /* background: linear-gradient(to bottom, #26a0da, #314755);  */

    
}

.rightSidebar

{
    flex-basis: 20%;
    text-align: center;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    

}

.leftSidebar {
    
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24)  4px 0px -2px;
    border-radius: 5px;
    padding: 10px;
}



.middleBar {
    flex-basis: 60%;
    margin-left: 20px;
}

.middle {
    /* min-height: 520px; */
    height: auto;
    margin: 20px 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    justify-content: space-around;
    
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}



#map{
    height: 100%;
    border: 2px solid black;
}



.follower {
    display: flex;
    align-items: center;
    margin: 15px;

}

h3 {
    color: rgb(255, 75, 107);
}

.activityPhoto{
    max-height: 240px;
    width: auto;
    border-radius: 5px;
    max-width: 360px;

}





.mapDiv {
    flex-basis: 50%;
    

}

.photoAndDescriptionDiv {
    flex-basis: 50%;
    max-width: 360px;

}

.profileHeader {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1.4px solid rgba(255, 75, 107, 0.2);
    font-weight: bold;
    font-size: 18px;
    justify-content: space-between;
}

.headerDiv {
    
    display: flex;
    height: 100%;
    align-items: flex-end;
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.followBtn{
    /* border: 2px solid black; */
    width: 95px;
    border-radius: 20px;
    margin-top: 5px;
    background-color:rgba(255, 75, 107, 0.9);
    /* background-color: #4b6cff; */
    color: white;
    padding: 4px;
    outline: none;
    border: none;
}

.follower {
    
    width: 90%;
}

.nameAndFollowBtn {
    
    display: flex;
    flex-direction: column;
}

.imageCropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    
    
}

.avatarImg {
    display: inline;
  margin: 0 auto;
  /* margin-left: -25%;  */
  height: 100%;
  width: auto;
}

.header {
    
    max-width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.welcomeDiv {
    
    height: 100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    margin: 20px 10px;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;

}

.individualUserWelcome {
    font-size: 40px;
    color: rgb(255, 75, 107);
}

.notactive {
    color: grey;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
}

.active {
    color: rgb(255, 75, 107);
    text-decoration: underline;
    font-size: 18px;

}

.singleUser {
    background-color: white;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.singleUser:hover {
    color:rgb(255, 75, 107);
}

.modalDiv {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 370px;

}

.imageCropperModal {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
    
}

.photosDiv {
    max-height: 240px;
    width: auto;
    border-radius: 5px;
    max-width: 360px;
    overflow: scroll;
    margin-top: 20px;

}

.indUserPhotos {
    max-height: 240px;

}

.editFormDiv {
    
    border-radius: 5px;

}

.editForm{
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.editActivityButton {
    color: white;
    background-color: rgb(255, 75, 107);
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    align-self: center;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
}

.editDescription {
    border: 1px solid lightgray;
    padding: 5px;

}
