.entirePage {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: none;
    justify-content: flex-end;
    background-image: url('coen-van-de-broek-OFyh9TpMyM8-unsplash\ \(1\).jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60vh;
    align-content: center;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    background-color: rgba(255, 255, 255, 0.5);
}


.formInput {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



.btnDiv{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.formBtn {
    
    width: 30%;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:rgb(255, 75, 107);
    font-size: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 200;
}

.rightSide,
.leftSide {
    width: 50%;
}

.leftSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* img {
    width: 100%;
    
    
} */

.errors {
    /* border: 2px solid red; */
    height: 80px;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: red;
}

.terms {
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
    color: gray;
}

