
.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.logo {
    width: 200px;
    margin-left: 0px;
}

.sideNav {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    margin-top: 25px;
    box-shadow: none;
    align-items: center;
}

.active {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    transition: all 1s linear;
}

.notactive {
    text-decoration: none;
    color: rgb(255, 75, 107);
    font-size: 18px;
    transition: all 1s linear;
    /* margin-left: 5px; */
}

.addActivityBtn {
    color: white;
    background-color: rgb(255, 75, 107);
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    align-self: center;
    width: 90%;
    padding: 10px;
    cursor: pointer;
}

.activityStatsTableDiv {
    font-size: 16px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.activityStatsTable {
    text-align: center;
    padding: 10px;
}

th {
    width: 80px;
    text-decoration: underline;
    font-weight: 400;
}

.calHeader {
    text-align: center;
}

.profileButton {
    border: none;
    background-color: white;
    margin-bottom: 2px;
}

.imageCropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatarImg {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.dropList {
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.linksDiv {
    
    width: 210px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.NavLinkDiv {
    
    width: 100px;
    text-align: center;
    background-color:rgb(255, 75, 107);
    border-radius: 5px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.activeNav, 
.notActiveNav {
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 200;
}

.highlight {
    color: blue;
    font-weight: bold;
    
}

.dropList {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


